<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>yat</title>
    <meta charset="utf-8" />

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="img/logo-light.png" id="light-scheme-icon">
    <link rel="icon" href="img/logo-dark.png" id="dark-scheme-icon">
    <script src="/icon.js"></script>


  </head>

  <body>
    <header>
      <nav class="navbar">
        <a href="/"" class="logo">yat</a>
        <div class="nav-links">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/times/1">Times</a></li>
            <li><a href="#">Ipsum</a></li>
            <li><a href="#">Dolor Sit</a></li>
            <li><a href="#">Amet</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    <div class="content">
      <div class="scramble" id="scramble">
      </div>

      <div class="timer" id="timer">
        0.00
      </div>

    </div>

    <footer>
      Report a  <a href="https://github.com/Captain7O9/yat">bug</a> 
    </footer>
    
    <script src="index.js"></script>
  </body>

</html>
